<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
  <div style="height:100vh;" class="bg-warning text-center p-5 container-fluid d-flex flex-column">
  <p class="p text-dark">This is a passsword generator app by <span class="text-success"><b><i>Jyotheesh</i></b></span> which has 3 options</p>
  <p class="p text-dark">1. You can generate a password with numbers included by checking the <b>Numbers</b> checkbox</p>
  <p class="p text-dark">2. You can generate a password with special characters included by checking the <b>Special characters</b> checkbox</p>
  <p class="p text-dark">3. You can generate a password with Uppercase letters included by checking the <b>Capitals</b> checkbox</p>
  <div>
<br>
<br>
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
</div>

  </div>

</body>
</html>

